<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Sunday date:</strong>
  <%= @job.sunday_date %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @job.send_at %>
</p>

<p>
  <strong>Author:</strong>
  <%= @job.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
