<p id="notice"><%= notice %></p>
<p>
  <strong>Sunday date:</strong>
  <%= @job.sunday_date.strftime('%m/%d/%Y') %>
</p>

<p>
  <strong>Send at:</strong>
  <%= @job.send_at.strftime('%m/%d/%Y') %>
</p>

<p>
  <strong>Hotel:</strong>
  <%=link_to @job.hotel.name, hotel_path(@job.hotel) %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
