<!DOCTYPE html>
<html>
  <head>
    <title>NLCCApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <%= render "layouts/navbar" %>
      <div id="page-wrapper">
        <div class="container-fluid">
          <!-- Page Heading -->
            <div class="row">
                <%= yield %>
          </div>
          <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div><!-- /#page-wrapper -->
    </div>
  </body>
</html>
